@font-face {
    font-family: "Gudea-Bold";
    src: url("../../fonts/Gudea-Bold.ttf.woff") format("woff"), url("../../fonts/Gudea-Bold.ttf.svg#Gudea-Bold") format("svg"),
        url("../../fonts/Gudea-Bold.ttf.eot"), url("../../fonts/Gudea-Bold.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}