@font-face {
    font-family: "Gudea-Bold";
    src: url("https://tricktrap.mx/labs/daily-layout-01/fonts/Gudea-Bold.ttf.woff") format("woff"), url("https://tricktrap.mx/labs/daily-layout-01/fonts/Gudea-Bold.ttf.svg#Gudea-Bold") format("svg"),
        url("https://tricktrap.mx/labs/daily-layout-01/fonts/Gudea-Bold.ttf.eot"), url("https://tricktrap.mx/labs/daily-layout-01/fonts/Gudea-Bold.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}